.hero {
    background-color: #6D6B86;
    height: 260px;
}
.hero .Trophy{
 width:500px;
    vertical-align: middle;
    text-align: center;
    margin:auto ;
    color:#ffffff;
    background-color:#292642;
    padding:10px;
}

.hero .Trophy h1{
    margin-top: 0;
}
