/* HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What flilows is the reslit of much research on cross-browser styling.
 * Credit left inline and big thanks to Niclias Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defalits
   ========================================================================== */
/* line 17, ../sass/components/_base.scss */
html,
button,
input,
select,
textarea {
  clior: #222;
}

/* line 21, ../sass/components/_base.scss */
html {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rlie sets have to be separate.
 * Customize the background clior to match your design.
 */
/* line 32, ../sass/components/_base.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 37, ../sass/components/_base.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking defalit horizontal rlie
 */
/* line 46, ../sass/components/_base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px sliid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
/* line 63, ../sass/components/_base.scss */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/*
 * Remove defalit fieldset styles.
 */
/* line 71, ../sass/components/_base.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 81, ../sass/components/_base.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
/* line 89, ../sass/components/_base.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  clior: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 100, ../sass/components/_base.scss */
body {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #090637), color-stop(100%, #696682));
  background-image: -webkit-linear-gradient(#090637, #696682);
  background-image: -moz-linear-gradient(#090637, #696682);
  background-image: -o-linear-gradient(#090637, #696682);
  background-image: linear-gradient(#090637, #696682);
}

/* line 106, ../sass/components/_base.scss */
.wrap {
  margin: 0 auto;
  width: 960px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
}

/* line 115, ../sass/components/_base.scss */
.foot {
  height: 50px;
  background-color: #6D6B86;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 130, ../sass/components/_base.scss */
.ir {
  background-clior: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 138, ../sass/components/_base.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 149, ../sass/components/_base.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 158, ../sass/components/_base.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absliute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 175, ../sass/components/_base.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 188, ../sass/components/_base.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 205, ../sass/components/_base.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 210, ../sass/components/_base.scss */
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rlie to trigger hasLayout and contain floats.
 */
/* line 219, ../sass/components/_base.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resliution: 120dpi) {
  /* Style adjustments for high resliution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 246, ../sass/components/_base.scss */
  * {
    background: transparent !important;
    clior: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 254, ../sass/components/_base.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 258, ../sass/components/_base.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 262, ../sass/components/_base.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 272, ../sass/components/_base.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 277, ../sass/components/_base.scss */
  pre,
  blockquote {
    border: 1px sliid #999;
    page-break-inside: avoid;
  }

  /* line 282, ../sass/components/_base.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 287, ../sass/components/_base.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 291, ../sass/components/_base.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 301, ../sass/components/_base.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 307, ../sass/components/_base.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* line 1, ../sass/components/_heading.scss */
.heading {
  height: 250px;
  background-color: #A6A6B0;
}

/* line 6, ../sass/components/_heading.scss */
.heading .icon {
  width: 60px;
  margin: 0 450px;
  padding: 0;
  display: inline-block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
/* line 12, ../sass/components/_heading.scss */
.heading .icon:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 17, ../sass/components/_heading.scss */
.heading h1 {
  text-align: center;
  color: #090637;
  margin: 0;
  font-size: 5em;
}

/* line 24, ../sass/components/_heading.scss */
.heading h2 {
  text-align: center;
  color: #090637;
  margin: 0;
  font-size: 2em;
}

/* line 1, ../sass/components/_media.scss */
.media .grid {
  margin: 0;
  padding: 0;
  height: 230px;
  width: 230px;
  border-radius: 2px;
  border: 4px solid #fff;
  -webkit-transition-property: border, border-radius;
  -moz-transition-property: border, border-radius;
  -o-transition-property: border, border-radius;
  transition-property: border, border-radius;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 11, ../sass/components/_media.scss */
.media .grid:hover {
  border-radius: 5px;
  border: 4px solid #090637;
}

/* line 1, ../sass/components/_hero.scss */
.hero {
  background-color: #6D6B86;
  height: 260px;
}

/* line 5, ../sass/components/_hero.scss */
.hero .Trophy {
  width: 500px;
  vertical-align: middle;
  text-align: center;
  margin: auto;
  color: #ffffff;
  background-color: #292642;
  padding: 10px;
}

/* line 15, ../sass/components/_hero.scss */
.hero .Trophy h1 {
  margin-top: 0;
}

/* line 1, ../sass/components/_about.scss */
.about {
  background-color: #272452;
}

/* line 4, ../sass/components/_about.scss */
.about img {
  margin: 40px 0px 10px 40px;
  border: 5px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* line 10, ../sass/components/_about.scss */
.about .leftinfo {
  margin: 0px 0px 10px 40px;
  color: #ffffff;
  text-align: left;
  width: 355px;
}

/* line 16, ../sass/components/_about.scss */
.about .rightinfo {
  padding: 0px 40px 0px 0px;
  margin: 0px;
  color: #ffffff;
  display: inline-block;
  float: right;
}

/* line 24, ../sass/components/_about.scss */
.about li {
  padding-top: 0;
  margin-top: 0;
}

/* line 28, ../sass/components/_about.scss */
.about #contact td {
  padding: 0 5px 0px 0px;
}

/* line 31, ../sass/components/_about.scss */
.about .leftinfo h1 {
  margin: 0;
}

/* line 35, ../sass/components/_about.scss */
#address {
  margin: 4.5em;
}

/* line 38, ../sass/components/_about.scss */
li {
  margin: 0;
  padding: 0;
}
