/* HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What flilows is the reslit of much research on cross-browser styling.
 * Credit left inline and big thanks to Niclias Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defalits
   ========================================================================== */
/* line 17, ../sass/components/_base.scss */
html,
button,
input,
select,
textarea {
  clior: #222;
}

/* line 21, ../sass/components/_base.scss */
html {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rlie sets have to be separate.
 * Customize the background clior to match your design.
 */
/* line 32, ../sass/components/_base.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 37, ../sass/components/_base.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking defalit horizontal rlie
 */
/* line 46, ../sass/components/_base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px sliid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
/* line 63, ../sass/components/_base.scss */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/*
 * Remove defalit fieldset styles.
 */
/* line 71, ../sass/components/_base.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 81, ../sass/components/_base.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
/* line 89, ../sass/components/_base.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  clior: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 99, ../sass/components/_base.scss */
body {
  background-image: url("../img/background-idea.jpg");
}

/* line 104, ../sass/components/_base.scss */
.wrap {
  margin: 0 auto;
  width: 960px;
  background: #5E0200;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
}

/* line 113, ../sass/components/_base.scss */
#cover img {
  display: block;
  padding-top: 20px;
  margin: auto;
  width: 920px;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  /* line 121, ../sass/components/_base.scss */
  .wrap {
    width: 95%;
    margin-top: 10px;
  }

  /* line 126, ../sass/components/_base.scss */
  #cover img {
    width: 95%;
  }

  /* line 130, ../sass/components/_base.scss */
  #call img {
    display: block;
    margin: 0 auto 30px auto;
    width: 80%;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 148, ../sass/components/_base.scss */
.ir {
  background-clior: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 156, ../sass/components/_base.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 167, ../sass/components/_base.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 176, ../sass/components/_base.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absliute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 193, ../sass/components/_base.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 206, ../sass/components/_base.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 223, ../sass/components/_base.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 228, ../sass/components/_base.scss */
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rlie to trigger hasLayout and contain floats.
 */
/* line 237, ../sass/components/_base.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resliution: 120dpi) {
  /* Style adjustments for high resliution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 264, ../sass/components/_base.scss */
  * {
    background: transparent !important;
    clior: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 272, ../sass/components/_base.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 276, ../sass/components/_base.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 280, ../sass/components/_base.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 290, ../sass/components/_base.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 295, ../sass/components/_base.scss */
  pre,
  blockquote {
    border: 1px sliid #999;
    page-break-inside: avoid;
  }

  /* line 300, ../sass/components/_base.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 305, ../sass/components/_base.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 309, ../sass/components/_base.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 319, ../sass/components/_base.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 325, ../sass/components/_base.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* line 1, ../sass/components/_carvings.scss */
#carvings b {
  text-align: center;
  margin: 20px auto;
  display: block;
  font-size: 2em;
  text-shadow: 0 0 3px #5E0200;
  color: #fff;
}

/* line 9, ../sass/components/_carvings.scss */
#carvings a {
  text-shadow: 0 0 3px #5E0200;
  color: #fff;
}

/* line 14, ../sass/components/_carvings.scss */
#carvings #carving1, #carving3 {
  height: 400px;
  margin: 20px 60px;
  float: left;
  border: solid #5E0200 10px;
  border-color: #5E0200;
  border-radius: 5px;
  display: block;
}

/* line 24, ../sass/components/_carvings.scss */
#carvings #carving2, #carving4 {
  height: 400px;
  margin: 20px 60px;
  float: right;
  border: solid #5E0200 10px;
  border-color: #5E0200;
  border-radius: 5px;
  display: block;
}

/* line 35, ../sass/components/_carvings.scss */
#carvings #carving5, #carving6 {
  width: 80%;
  margin: 20px auto;
  border: solid #5E0200 10px;
  border-color: #5E0200;
  display: block;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  /* line 44, ../sass/components/_carvings.scss */
  #carvings b {
    margin: 10px auto;
    font-size: 1em;
  }

  /* line 49, ../sass/components/_carvings.scss */
  #carvings #carving1, #carving3 {
    width: 80%;
    height: auto;
    margin: 10px auto;
    float: none;
  }

  /* line 56, ../sass/components/_carvings.scss */
  #carvings #carving2, #carving4 {
    width: 80%;
    height: auto;
    margin: 10px auto;
    float: none;
  }

  /* line 64, ../sass/components/_carvings.scss */
  #carvings #carving5, #carving6 {
    width: 80%;
    height: auto;
    margin: 10px auto;
    float: none;
  }
}
/* line 1, ../sass/components/_content.scss */
#content {
  margin: 0 15px;
}

/* line 5, ../sass/components/_content.scss */
#content td {
  cursor: pointer;
  width: 178px;
  height: 0;
  font-size: 1.7em;
  text-align: center;
  color: #F6D7D6;
  background: #491500;
  border: solid #F6D7D6 3px;
  border-color: #F6D7D6;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* line 20, ../sass/components/_content.scss */
#content .selected {
  border-bottom: none;
  background: #693520;
}

/* line 25, ../sass/components/_content.scss */
.content {
  background: #693520;
  width: 924px;
  margin: 0 15px 15px 15px;
  border: solid #F6D7D6 3px;
  border-color: #F6D7D6;
  border-radius: 5px;
  border-top: dotted #F6D7D6 1px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  /* line 39, ../sass/components/_content.scss */
  #content {
    width: 98%%;
    margin: 0 1% 0% 1%;
  }

  /* line 43, ../sass/components/_content.scss */
  #content td {
    width: 22%;
    font-size: .6em;
  }

  /* line 47, ../sass/components/_content.scss */
  .content {
    width: 96%;
    margin: 0 1% 1% 1%;
  }
}
/* line 1, ../sass/components/_crafts.scss */
#crafts b {
  margin: 10px 20px;
  display: block;
  font-size: 1.5em;
  text-shadow: 0 0 3px #5E0200;
  color: #fff;
}

/* line 9, ../sass/components/_crafts.scss */
#crafts div {
  width: 80%;
  border: solid #491500 10px;
  border-color: #491500;
  border-radius: 5px;
  background: #8E3230;
  margin: 20px auto;
}

/* line 18, ../sass/components/_crafts.scss */
#crafts #windmills img {
  height: 200px;
  border: solid #fff 3px;
  border-color: #fff;
  margin: 20px 47px;
}

/* line 25, ../sass/components/_crafts.scss */
#crafts #birdhouses img {
  height: 200px;
  border: solid #fff 3px;
  border-color: #fff;
  margin: 20px 38px;
}

/* line 32, ../sass/components/_crafts.scss */
#crafts #metals img {
  width: 33%;
  border: solid #fff 3px;
  border-color: #fff;
  margin: 20px 55px;
}

/* line 39, ../sass/components/_crafts.scss */
#crafts #other img {
  width: 33%;
  border: solid #fff 3px;
  border-color: #fff;
  margin: 20px 55px;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  /* line 47, ../sass/components/_crafts.scss */
  #crafts b {
    display: block;
    margin: 10px auto;
    font-size: 1em;
    text-align: center;
  }

  /* line 54, ../sass/components/_crafts.scss */
  #crafts div {
    display: block;
    width: 80%;
    margin: 20px auto;
  }

  /* line 60, ../sass/components/_crafts.scss */
  #crafts #windmills img {
    display: block;
    height: auto;
    width: 70%;
    margin: 20px auto;
  }

  /* line 67, ../sass/components/_crafts.scss */
  #crafts #birdhouses img {
    display: block;
    height: auto;
    width: 70%;
    margin: 20px auto;
  }

  /* line 74, ../sass/components/_crafts.scss */
  #crafts #metals img {
    display: block;
    width: 70%;
    margin: 20px auto;
  }

  /* line 80, ../sass/components/_crafts.scss */
  #crafts #other img {
    display: block;
    width: 70%;
    margin: 20px auto;
  }
}
/* line 1, ../sass/components/_directions.scss */
#directions b {
  text-align: center;
  margin: 20px auto;
  display: block;
  font-size: 2em;
  text-shadow: 0 0 3px #5E0200;
  color: #fff;
}

/* line 10, ../sass/components/_directions.scss */
#googleMap iframe {
  display: block;
  margin: 30px auto;
  align-content: center;
  border: solid #8E3230 5px;
  border-color: #8E3230;
  width: 85%;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  /* line 20, ../sass/components/_directions.scss */
  #directions b {
    margin: 10px auto;
    font-size: 1em;
  }
}
/* line 1, ../sass/components/_foot.scss */
#foot {
  width: 960px;
  display: inline-block;
  background: #491500;
  text-align: center;
  margin: auto;
  color: #fff;
}

/* line 10, ../sass/components/_foot.scss */
#foot img {
  height: 40px;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  /* line 15, ../sass/components/_foot.scss */
  #foot {
    width: 100%;
  }
}
/* line 1, ../sass/components/_furniture.scss */
#furniture b {
  text-align: center;
  margin: 20px auto;
  display: block;
  font-size: 2em;
  text-shadow: 0 0 3px #5E0200;
  color: #fff;
}

/* line 10, ../sass/components/_furniture.scss */
#furniture .swing {
  height: 200px;
  margin: 25px 0 25px 16px;
  border: solid #491500 8px;
  border-color: #491500;
  border-radius: 20px;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  /* line 19, ../sass/components/_furniture.scss */
  #furniture b {
    margin: 10px auto;
    font-size: 1em;
  }

  /* line 24, ../sass/components/_furniture.scss */
  #furniture .swing {
    display: block;
    height: auto;
    width: 80%;
    margin: 10px auto;
  }
}
/* line 1, ../sass/components/_header.scss */
#header b {
  margin: auto;
  text-align: center;
  display: block;
  font-size: 4.4em;
  color: #FFF;
}

/* line 9, ../sass/components/_header.scss */
#header p {
  margin: auto;
  text-align: center;
  font-size: 1em;
  color: #FFF;
}

/* line 15, ../sass/components/_header.scss */
#header a {
  color: #FFF;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  /* line 20, ../sass/components/_header.scss */
  #header b {
    font-size: 2em;
  }

  /* line 24, ../sass/components/_header.scss */
  #header p {
    font-size: 1.2em;
  }
}
/* line 1, ../sass/components/_home.scss */
#home p {
  margin: 20px;
  text-shadow: 0 0 3px #5E0200;
  color: #fff;
  font-size: 1.2em;
}

/* line 8, ../sass/components/_home.scss */
#home img {
  height: 250px;
  display: inline-block;
  margin: 20px;
  border: solid #fff 6px;
  border-color: #fff;
  border-radius: 5px;
}

/* line 17, ../sass/components/_home.scss */
#home .left {
  margin-left: 80px;
  margin-right: 0px;
}

/* line 22, ../sass/components/_home.scss */
#home .right {
  float: right;
  margin-right: 80px;
  margin-left: 50px;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  /* line 29, ../sass/components/_home.scss */
  #home p {
    margin: 1%;
    font-size: .6em;
  }

  /* line 34, ../sass/components/_home.scss */
  #home img {
    width: 42%;
    height: auto;
    display: inline;
    margin: 1%;
  }

  /* line 40, ../sass/components/_home.scss */
  #home .left {
    margin-left: 2%;
    margin-right: 0;
  }

  /* line 45, ../sass/components/_home.scss */
  #home .right {
    float: none;
    margin-left: 2%;
    margin-right: 2%;
  }
}
@media only screen and (max-width: 350px), only screen and (max-device-width: 300px) {
  /* line 53, ../sass/components/_home.scss */
  #home .left {
    margin-left: 1%;
    margin-right: 0;
  }

  /* line 57, ../sass/components/_home.scss */
  #home .right {
    float: none;
    margin-left: 1%;
    margin-right: 1%;
  }
}
