#foot{
    width:960px;
    display:inline-block;
    background: #491500;
    text-align: center;
    margin:auto;
    color:#fff;
}

#foot img{
    height:40px;   
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px){
    #foot{
    width:100%;
}   
}